/target/

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
*.class
/.project
/.Servers/
/.classpath
/Hello_World/target/classes/*
/Hello_World/target/
/Hello_World/target/classes/*
/Hello_World/target/classes/com/tmob/mysale/*
/.metadata/
/Hello_World/Servers/
/Hello_World/.recommenders/
/Hello_World/.metadata/
/Hello_WorldGit/.metadata/
/Hello_WorldGit/Servers/
/Hello_World/.metadata/*
/.recommenders/
/Hello_World/.classpath
/Hello_World/.project
/Hello_World/.settings/org.eclipse.jdt.core.prefs
/Hello_World/.settings/org.eclipse.m2e.core.prefs
/Hello_World/.settings/org.eclipse.wst.common.component
/Hello_World/.settings/org.eclipse.wst.common.project.facet.core.xml
/Hello_World/.settings/org.eclipse.wst.validation.prefs
/Hello_World/.settings/org.eclipse.jdt.core.prefs
/Hello_World/.settings/org.eclipse.wst.common.component
/Hello_World/.settings/org.eclipse.jdt.core.prefs
/Hello_World/.settings/org.eclipse.jdt.core.prefs
/target/
